<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="TORNADOFX_RUNCONFIGURATION" factoryName="TornadoFX Configuration Factory" run-type="App" live-views="false" live-stylesheets="false" dump-stylesheets="false">
    <option name="MAIN_CLASS_NAME" value="us.oder.websockettestclient.MainApp" />
    <module name="us.oder.websockettestclient.main" />
    <option name="WORKING_DIRECTORY" value="$MODULE_DIR$" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>